#main-title{
  text-align: center;

}




.header-div{
  background-image: url(./images/pattern-bg.png);

}
.map{
  background-color: purple;

}
.searchBar{
  text-align: center;
 padding: 95px;
 
}
#search-bar{
 
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}